body{
    background-color:rgb(#f5eddb);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}






/* Cabeçalho */
.Header{
        margin: 18px 14px;  
  
}



        
#Ft1{

    align-items: end;
    width: 100px;
}





















