/* NAVBAR */ ----------------------------------------------------------------------------------------------------------------------------------------

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

body {
    background-color: #F7F4F1;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 30px;
    display: flex;
}
.sobre{
    background-color: #856039;
    border:rgb(151, 151, 151) solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);
   
}
.serviços{
    background-color: #856039;
    border:rgb(151, 151, 151) solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);

}
.agendamento{
    background-color: #856039;
    border:rgb(151, 151, 151) solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);
  
}
.contatomenu{
    background-color: #856039;
    border:rgb(151, 151, 151) solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);
    margin-right: 30px;
}
.sobre:hover,.serviços:hover,.agendamento:hover,.contatomenu:hover{
    background-color: #947e66;
    transform: scale(1);
}
a:hover {
    text-decoration: none;
    transition: 0.3s;
}

.header{
    background-color: #f5eddb;
}

#logoHeader{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 1rem;
    gap: 20px;
    display: flex;
    margin-left: 100px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 1px;
    top: 3.5rem;
    gap: 10px;
}

li.sobre :hover{
    color: #856039;

}
.menu li {
    list-style: none;
}

.menu li a {
    display: flex;
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
}

.sobre a:hover {
  color: #b19b84;
  transition: color 0.5s ease;
}

/* Body */

@media (max-width: 320px) {
    .menu {
        flex-direction: column;
        gap: 5px;
    }

    .text-box {
        padding: 10px;
        font-size: 14px;
    }

    .input-box {
        width: 90%;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

@media (max-width: 768px) {
    .foto {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.title1 {
    text-align: center;
    border-radius: 100px;
    padding: 20px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-width: 800px;
    font-family: Times, 'Times New Roman', serif;
}
.title2 {
    text-align: center;
    border-radius: 100px;
    padding: 20px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-width: 800px;
    font-family: Times, 'Times New Roman', serif;
} 
.title3 {
    text-align: center;
    border-radius: 100px;
    padding: 20px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 40px;
    font-family: Times, 'Times New Roman', serif;
}
.title4 {
    text-align: center;
    border-radius: 100px;
    padding: 20px;
    margin: 20px auto;
    color: rgb(85, 59, 59);
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 20px;
    font-family: Times, 'Times New Roman', serif;
}
.title5 {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 2px;
    margin-top: 120px;
    border-bottom: solid 1px #000;
    font-family: Times, 'Times New Roman', serif;
}

.Giselle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Giselle h1{
    font-size: 2rem;
}
.Giselle .foto{
    max-width: 35%;
}

/* .selfie {
    max-width: 45%;
    display: block;
    width: 45%;
    margin: 20px auto;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.05);
    margin-top: 150px; 
    margin-bottom: 250px; 
}
.selfie:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
} */
.local {
    max-width: 100%;
    text-align: center;
    width: 30%;
    margin: 40px auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.text-box0 {
    background-color: #f5eddb;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    text-align: center;
    font-family: Times, 'Times New Roman', serif;
}

.text-box2 {
    background-color: #f5eddb;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    text-align: center;
    font-family: Times, 'Times New Roman', serif;
}

section, article, .text-box, .input-box {
    margin-bottom: 40px;
}
.carrosel {
    margin-top: 40px; 
    text-align: center; 
    margin-bottom: 200px;
}
.carrosel-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
    margin-top: 20px; 
}
.carrosel-item {
    background-color: #f5eddb; 
    border-radius: 10px; 
    padding: 10px; 
    width: 250px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease; 

}

.carrosel-item:hover {
    transform: translateY(-5px); 
}

.carrosel-item img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.carrosel-item p{
    font-size: 1.4rem;
    color: #000;
    line-height: 1;
    margin-bottom: 5%;
}
.carrosel-item span{
    font-size: 1rem;
    color: #333;
}

/*Formulário e Contato*/----------------------------------------------------------------------------------------

.copyright {
    width: auto;
    text-align: center;
    background-color: #856039;
    padding: 10px 10px;
    margin-top: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.input-box {
   background-color: #f5eddb;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    text-align: center;
    font-family: Times, 'Times New Roman', serif;
}

.input-box input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    
}

.input-box .submit {
    background-color: #856039;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-box .submit:hover {
    background-color: #947e66;
}

footer {
    margin-top: 150px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.copyright {
    text-align: center;
    
}

.rodape{
    display: flex;
    text-align: center;
    margin-bottom: 40px;
    align-content: center;
    flex-direction: column;
    
}

.line{
    display: flex;
    width: 80%;
    height: 2px;
    border-color: #856039;
    border: none;
    margin: 10px 0;

}
.contato {
    width: auto; 
    height: auto;
    border: 0;
    font-size: 3px;
    cursor: pointer; 
    text-align: center; 
    padding: 0px 10px; 
    margin-bottom: 25px;
    margin-left: 26px;
  }

  .contato a {
    display: inline-block;
    margin: 0 5px;
  }

  .contato button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: #856039;
    font-size: 3px;
    cursor: pointer;
    margin: 0 3px; 
    box-shadow: 0px 0px 8px rgb(99, 68, 35);

 }

 .contato i {
    font-size: 20px; 
    vertical-align: middle; 
  }

.contato button:hover {
    transform: scale(1.25);
    transition: .2s;

}

.black{
    color: #ffffff;
}
.black:hover{
    transform: scale(1.2s);
}

.copyright {
    width: auto;
    text-align: center;
    background-color: #856039;
    padding: 10px 10px;
    margin-top: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-top: 1px solid #b19b84; 
    margin-top: 30px;
    padding-top: 20px; 
}


/* Tema Escuro */----------------------------------------------------------------------------------

body.dark-theme .input-box input {
    background-color: #444;
    color: #fdfdfd;
    border: 1px solid #666;
}

body.dark-theme .input-box .submit {
    background-color: #856039;
    color: #fff;
}

body.dark-theme .input-box .submit:hover {
    background-color: #777;
}

body.dark-theme {
    background-color: #2c2c2c;
    color: #fff;
}

body.dark-theme .header {
    background: #444;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark-theme .menu li a {
    color: #a7a19c;
}

body.dark-theme .menu li a:hover {
    color: #fff;
}

body.dark-theme footer {
    
    color: #ffffff;
}

body.dark-theme .copyright {
    color: #fff;
}

body.dark-theme .text-box {
    background: linear-gradient(to bottom, #333, #111);
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-theme .local {
    background-color: #444;
    color: #fff;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

body.dark-theme .carrosel-item{
    background-color: #444;
    box-shadow: 0 2px 5px rgba(255,255,255,0.1);
}
body.dark-theme .carrosel-item p {
    color: #eee;
}
body.dark-theme .carrosel-item span {
    color: #eee;
}
.theme-button {
    position: fixed;
    top: 110px;
    right: 20px;
    padding: 10px 20px;
    background-color:#856039;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1001;
}

.theme-button:hover {
    background-color:#cab49b;
}

body.dark-theme .text-box {
    background: linear-gradient(to bottom, #333, #111);
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-theme .local {
    background-color: #444;
    color: #fff;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

body.dark-theme .menu li a {
    color: #ebebeb;
}

body.dark-theme .menu li a:hover {
    color: #ffffff;
}

body.dark-theme .black{
    color: #ffffff;
}
body.dark-theme .title1  {
    color: white;
}
body.dark-theme .title2  {
    color: white;
}
body.dark-theme .title3  {
    color: white;
}
body.dark-theme .title4  {
    color: white;
}
body.dark-theme .text-box0{
    border-color: white;
    background-color: rgb(46, 45, 45) ;
}
body.dark-theme .text-box1{
    border-color: white;
    background-color: rgb(46, 45, 45) ;
}
body.dark-theme .text-box2{
    border-color: white;
    background-color: rgb(46, 45, 45) ;
}
body.dark-theme .input-box{
    background-color: rgb(46, 45, 45) ;;
    color: white;
}
body.dark-theme .title4{
    color: #ffffff;
}
body.dark-theme .title5{
    color: white;
    border-color: white;
}
